<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h6 class="card-header">Leave List</h6>
        <a
          class="reference-button add-button mt-1 mb-2 mt-sm-2"
          id="employeeAdd"
          mat-raised-button
          routerLink="/leave/add"
        >
          <span>Add New Leave</span>
        </a>

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <label>Page</label>
                        </div>
                        <div class="col-md-6">
                          <input
                            type="number"
                            class="form-control"
                            name="pageIndex"
                            [(ngModel)]="pageIndex"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-7">
                          <label>Page Size</label>
                        </div>
                        <div class="col-md-5">
                          <input
                            type="number"
                            class="form-control"
                            name="pageSize"
                            [(ngModel)]="pageSize"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <button
                    class="btn btn-primary"
                    (click)="onClickSearchEmployee()"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
              <input type='text'
                     [(ngModel)]='listFilter' />
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 10px">Serial</th>
                <th>Description</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Employee Name</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let leave of leaveListSearch; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ leave.description }}</td>
                <td>{{ leave.leaveType == 1 ? "Casual" : "Sick" }}</td>
                <td>{{ leave.strarDate | date }}</td>
                <td>{{ leave.endDate | date }}</td>
                <td>{{ leave.empName }}</td>

                <td>
                  <button class="btn btn-sm" (click)="onClickEdit(leave)">
                    Edit
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-sm"
                    (click)="onClickDelete(leave.id, i)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
