<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h6 class="card-header">Employee List</h6>
        <a
          class="reference-button add-button mt-1 mb-2 mt-sm-2"
          id="storiesAdd"
          mat-raised-button
          routerLink="/stories/add"
        >
          <span>Add New Story</span>
        </a>

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <label>Search Story</label>
                        </div>
                        <div class="col-md-6">
                          <input
                            type="number"
                            class="form-control"
                            name="pageIndex"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <button class="btn btn-primary">Search</button>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body">
            dfdf{{ this.stroiesList.length }}

            <ng-container *ngFor="let story of stroiesList; let i = index">
              <!-- sdsd -->
              <!-- {{story.story}} -->

              <table class="table table-bordered">
                <tr>
                  <td>
                    Posted By: {{ story.user.name }} {{ "--" }}Post Date:
                    {{ story.created_at | date: "dd/MM/yyyy hh:mm a" }}
                  </td>
                </tr>

                <tr>
                  <td>Story Title: {{ story.title }}</td>
                </tr>

                <tr>
                  <td>Story Tags: {{ story.tags }}</td>
                </tr>

                <tr>
                  <td>Story: {{ story.story }}</td>
                </tr>

                <tr>
                  <td>
                    Comments:
                    <tr *ngFor="let comm of story.comment">
                      <td>{{ comm.comments }}</td>
                      <td *ngIf="loginUser.id == story.user_id">
                        <button
                          style="background-color: red; color: white"
                          class="btn btn-sm"
                        >
                          Delete
                        </button>
                      </td>
                    </tr>
                  </td>
                </tr>
              </table>
              &nbsp; &nbsp;
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
