<div class="container-fluid">

  <div class="row">
    <div class="col-md-12 ">
      <div class="card">
        <h6 class="card-header">Employee List</h6>
        <a class="reference-button add-button  mt-1 mb-2 mt-sm-2" id="employeeAdd" mat-raised-button
          routerLink="/employee/add">
          <span>Add New Employee</span>
        </a>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <label>Page</label>
                        </div>
                        <div class="col-md-6">
                          <input type="number" class="form-control" name="pageIndex" [(ngModel)]="pageIndex" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-7">
                          <label>Page Size</label>
                        </div>
                        <div class="col-md-5">
                          <input type="number" class="form-control" name="pageSize"  [(ngModel)]="pageSize"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                 <button class="btn btn-primary" (click)="onClickSearchEmployee()">Search</button>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="card-body">
          <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
              <input type='text'
                     [(ngModel)]='listFilter' />
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 10px">Serial</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Join Date</th>
                <th>Dob</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employeeListSearch; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.middleName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.designation }}</td>
                <td>{{ employee.department == 1 ? "Software" : "HR" }}</td>
                <td>{{ employee.joiningDate| date }}</td>
                <td>{{ employee.dob |date }}</td>
                <td><button class="btn btn-sm" (click)="onClickEdit(employee)">Edit</button></td>
                <td><button class="btn btn-sm" (click)="onClickDelete(employee.id, i)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
    <!-- <div class="col-md-4">
        <div class="card">
          <h6 class="card-header">Add new project</h6>
          <div class="card-body">
            <form [formGroup]="saveForm" autocomplete="off" (ngSubmit)="onSubmit()">
              <span *ngIf="saveForm.get('title').touched && saveForm.get('title').hasError('required')"
                class="text-danger">
                Required</span>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="title" name="title" placeholder="Project Title">
              </div>
              <button class="btn btn-block btn-primary" type="submit">
                Save
              </button>
            </form>
          </div>
        </div>
  
  
      </div> -->
  </div>
</div>