<div class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>Blog</b></a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign in to start your session</p>
  
          <form [formGroup]="saveForm"  autocomplete="off" (ngSubmit)="onSubmit()">
            <span *ngIf="saveForm.get('username').touched && saveForm.get('username').hasError('required')"
              class="text-danger">
              Required</span>
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="username" name="username" placeholder="Username">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <span *ngIf="saveForm.get('password').touched && saveForm.get('password').hasError('required')"
              class="text-danger">
              Required</span>
            <div class="input-group mb-3">
              <input type="password" class="form-control" formControlName="password" name="password"
                placeholder="Retype password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
           
          </form>
          <p class="mb-1">
            <!-- <a [routerLink]="['/user/dashboard']">I forgot my password</a> -->
          </p>
          <p class="mb-0">
            <a [routerLink]="['/user/registration']" class="text-center">Register a new membership</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
  </div>