<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <h6 class="card-header">Stories List</h6>

  
          <div class="row">
            <!-- <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6">
                            <label>Search Story</label>
                          </div>
                          <div class="col-md-6">
                            <input
                              type="text"
                              class="form-control"
                              name="serchValue"
                              [(ngModel)]="serchValue"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <button class="btn btn-primary" (click)="getStoriesBySearch()">Search</button>
                  </div>
                </div>
              </div>
            </div> -->
  
            <div class="card-body">
                Nuber of Stories :{{ this.stroiesList.length }}
  
              <ng-container *ngFor="let story of stroiesList; let i = index">
                <!-- sdsd -->
                <!-- {{story.story}} -->
  
                <table class="table table-bordered">
                  <tr>
                    <td>
                      Posted By: {{ story.user.name }} {{ "--" }}Post Date:
                      {{ story.created_at | date: "dd/MM/yyyy hh:mm a" }}
                    </td>
                  </tr>
  
                  <tr>
                    <td>Story Title: {{ story.title }}</td>
                  </tr>
  
                  <tr>
                    <td>Story Tags: {{ story.tags }}</td>
                  </tr>
  
                  <tr>
                    <td>Story: {{ story.story }}</td>
                  </tr>
  
                  <tr>
                    <td>Image Title: {{ story.storycaption }}</td>
                  </tr>
  
                  <tr>
                    <td>
                      Story Image:<img width="100%"  [src]="story.storyimage" class="circle">
                    </td>
                  </tr>

                </table>
                &nbsp; &nbsp;
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  