<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h6 class="card-header">New Stories</h6>
      
      
        <div class="card-body">
          <form
            [formGroup]="storyForm"
            autocomplete="off"
            (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <label>Story Title</label>
                  </div>

                  <div class="col-md-8">
                    <span
                      *ngIf="
                        storyForm.get('title').touched &&
                        storyForm.get('title').hasError('title')
                      "
                      class="text-danger"
                    >
                      Required Title</span
                    >
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="title"
                        name="title"
                        placeholder="Story Title"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <label>Section</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="section"
                        name="section"
                        placeholder="Section"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <label>Username</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="tags"
                        name="tags"
                        placeholder="Tags"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <label>Story</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="story"
                        name="story"
                        placeholder="Story"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <label>Image Caption</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="storycaption"
                        name="storycaption"
                        placeholder="Image Caption"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <label>Image</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <input
                        type="file"
                        id="imageUpload"
                        accept=".png, .jpg, .jpeg"
                        #fileInput
                        (change)="uploadFile($event)"
                      />
                    </div>
                    <img width="100%"  [src]="imageUrl" class="image" class="circle">
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-block btn-primary" type="submit">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
