<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <h6 class="card-header">Update Leave</h6>
          <a class="reference-button add-button  mt-1 mb-2 mt-sm-2" id="employeeAdd" mat-raised-button
          routerLink="/leave">
          <span>Go Back</span>
        </a>
          <div class="card-body">
            <form
              [formGroup]="saveForm"
              autocomplete="off"
              (ngSubmit)="onSubmit()"
            >
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <label>Description</label>
                  </div>
                  <div class="col-md-8">
                    <span
                      *ngIf="
                        saveForm.get('description').touched &&
                        saveForm.get('description').hasError('required')
                      "
                      class="text-danger"
                    >
                      Required description</span
                    >
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="description"
                        name="description"
                        placeholder="Leave Description"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <label>Start Date</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="strarDate"
                          formControlName="strarDate"
                          ngbDatepicker
                          #d="ngbDatepicker"
                        />
                        <div class="input-group-append">
                          <button
                            class="btn btn-outline-secondary calendar"
                            (click)="d.toggle()"
                            type="button"
                          ></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <label>End Date</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="endDate"
                          formControlName="endDate"
                          ngbDatepicker
                          #e="ngbDatepicker"
                        />
                        <div class="input-group-append">
                          <button
                            class="btn btn-outline-secondary calendar"
                            (click)="e.toggle()"
                            type="button"
                          ></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <label>Leave Type</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <select
                        class="form-control"
                        formControlName="leaveType"
                        name="leaveType"
                      >
                        <option
                          *ngFor="let dept of leaveTypeList"
                          [value]="dept.VALUE"
                        >
                          {{ dept.TEXT }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <label>Employee</label>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <select
                        class="form-control"
                        formControlName="employeeId"
                        name="employeeId"
                      >
                        <option value="">Please Select a Employee</option>
                        <option
                          *ngFor="let dept of employeeList"
                          [value]="dept.id"
                        >
                          {{ dept.firstName }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
              <button class="btn btn-block btn-primary" type="submit">
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  